/*DIA: 19/04/2020 - HORÃRIO: 10:25*/

.pageCorretora > .marca-consultoria > h2, .inf-corretora-dados > a{
	font-family: 'Revalia', cursive;
}
.inf-corretora{
	z-index: 8;
	margin: 0 auto;
	width: 80%;
	padding: 40px 20px;
	box-shadow: 0 0 40px rgba(0,0,0,0.5);
	border-radius: 20px;
}
.inf-corretora-dados{
	margin: 0 auto;
	width: 90%;
}
.inf-corretora-dados > a{
		padding: 15px 30px;
		background-color: #A4DA94;
		border-radius: 10px;
		color: black;
}
.btn-voltar{
	margin-top: 80px;
}
.btn-voltar > a{

	padding: 10px 20px;
	background-color: #F85050;
	border-radius: 10px;
	color:white;
	font-size: 22px;
}